
.body-background {
    background: rgba(220, 220, 220, 1) url('../assets/LH-main-background.png');
}

.transparent-box {
    border-radius: 20px;
    margin-top: 15px;
    padding: 15px;
    background: #fff;
}

.big-box {
    border-radius: 20px;
    margin: 25px;
    padding: 15px;
    background: #fff;
}

.centered {
    float: none;
    display: block;
    margin: 0 auto;
}

/*Navbar*/

.container {
    width: 100% !important;
    padding: 0 !important;
}

.navbar {
    width: 100% !important;
    padding: 10px !important;
    background-color: #161240 !important;
    margin-bottom: 0 !important;
}

.nav-right {
    float: right;
}

/* Logo */

.navbar-brand {
    font-family: inherit !important;
    margin: 0px 25px 0px 25px !important;
}

.yellow {
    color: #e2a864;
    display: inline-block;
    font-size: 30px;
}

.blue {
    color: #4a8fb9;
    display: inline-block;
    font-size: 30px;
}

/* NavBar menu options*/

.nav-option {
    color: #fff !important;
    display: inline-block;
    font-size: 20px;
    margin-right: 25px;
}

/* Home menu options */

h1 {
    color: #e2a864 !important;
    font-weight: 700 !important;
    font-size: 40px !important;
    padding: 0;
    margin: 25px 40px 25px 40px !important;
    text-shadow: -2px 2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
}

.yellow-big {
    color: #e2a864;
    display: inline-block;
    font-weight: 700 !important;
    font-size: 70px !important;
    padding: 0;
    margin: 25px 0 25px 0 !important;
    text-shadow: -2px 2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
}

.blue-big {
    color: #4a8fb9;
    display: inline-block;
    font-weight: 700 !important;
    font-size: 70px !important;
    padding: 0;
    margin: 25px 0 25px 0 !important;
    text-shadow: -2px 2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
}

h2 {
    color: #e2a864 !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    padding: 0;
    margin: 10px 25px 10px 25px !important;
    text-shadow: -1px 1px 1px #fff,
    1px -1px 1px #fff,
    -1px 1px 1px #fff,
    1px 1px 1px #fff;
}

h3 {
    color: #e2a864 !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    padding: 0;
    display: inline-block;
    margin: 5px 0 5px 20px !important;
    text-shadow: -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    /*font-family: MuseoSans;*/
}

.send-recipient-input {
    padding: 3px;
    width: 350px;
    color: #161240;
    line-height: 30px !important;
    border: 2px solid #17579c !important;
    margin-top: 0px;
}

.send-amount-input {
    width: 266px;
    padding: 3px;
    color: #161240;
    line-height: 30px !important;
    border: 2px solid #17579c !important;
    margin-top: 0px;
}

.send-input-error {
    font-size: 15px;
    color: #e2a864;
    padding: 0;
    margin: 0 0 0 120px;
    width: 340px;
}

.send-input-error-sign {
    font-size: 25px;
    color: #e2a864;
    margin: 3px;
}

.send-input-currency-label {
    border: 2px solid #17579c;
    border-left: 0;
    background-color: #fff;
    color: #17579c;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    width: 60px;
    padding: 3px 7px 3px 7px;
    margin-top: 10px;
}

.send-label {
    border: 2px solid #17579c;
    background-color: #17579c;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    width: 100px;
    padding: 3px 7px 3px 7px;
    margin-left: 15px;
    margin-top: 10px;
}

.send-button {
    width: 450px;
    margin-left: 15px;
    margin-top: 15px;
    border: 2px solid #161240 !important;
    background-color: #161240;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.send-amount-alias {
    color: #17579c;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    margin-left: 120px;
}

.send-fee-label {
    color: #17579c;
    display: inline-block;
    font-size: 15px;
    padding: 3px 7px 3px 7px;
    margin: 1px 0 0 75px;
    text-align: right;
    width: 50px;

}

.send-fee-amount {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #17579c;
    margin: 0 3px 0 3px;
    padding: 0;
}

.send-fee-text {
    display: inline-block;
    font-size: 15px;
    color: #17579c;
    margin: 3px;
    padding: 0;
}

.dropdown-label {
    border: 2px solid #17579c !important;
    background-color: #fff;
    width: 330px;
    padding: 3px;
    line-height: 30px !important;
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
}

.dropdown-button {
    border: 2px solid #17579c;
    background-color: #17579c;
    line-height: 30px;
    display: inline-block;
    padding: 3px;
}

.dropdown-symbol {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    margin: 0px;
}

.currency-dropdown {
    position: absolute;
    top: 26px;
    left: -2px;
    width: 62px;
    border: 2px solid #17579c;
    border-top: 0;
}

.currency-dropdown-entry {
    border-top: 2px solid #eeeeee;
    line-height: 30px;
    color: #17579c;
    font-size: 15px;
    font-weight: 500;
    padding: 3px 7px 3px 7px;
    margin: 0;
}

.currency-dropdown-entry:hover {
    border-top: 2px solid #eeeeee;
    line-height: 30px;
    background-color: #17579c;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    padding: 3px 7px 3px 7px;
    margin: 0;
}

.address-dropdown {
    position: absolute;
    top: 26px;
    left: 0;
    width: 350px;
    border: 2px solid #17579c;
    border-top: 0;
    margin-left: 15px;
}

.address-dropdown-entry {
    background-color: #fff;
    padding: 3px;
    border-top: 2px solid #eeeeee;
    line-height: 30px;
    margin: 0;
}

.address-dropdown-entry:hover {
    border-top: 2px solid #eeeeee;
    line-height: 30px;
    background-color: #17579c;
    color: #ffffff;
    padding: 3px;
    border-top: 2px solid #eeeeee;
    margin: 0;
}

.balance-container {
    border: 2px solid #e2a864;
    background-color: #fff;
    padding: 0 10px 0 10px;
    margin: 10px 25px 0 15px;
}

.balance-horizontal-separator {
    border: 1px solid #eeeeee;
}

.balance-vertical-separator {
    border: 1px solid #e2a864;
    width: 0;
    display: inline-block;
    height: 30px;
    margin: 0 10px -10px 10px;
}

.balance-value {
    line-height: 30px;
    color: #17579c;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    margin: 5px 0 5px 0;
}

.balance-pending {
    line-height: 30px;
    color: #e2a864;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    margin: 5px 0 5px 0;
}

.balance-currency {
    line-height: 30px;
    color: #17579c;
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    margin: 5px 0 5px 0;
}

.hash-container {
    border: 2px solid #17579c;
    background-color: #fff;
    padding: 5px;
    line-height: 30px !important;
    margin: 20px;
}

.hash {
    color: #161240;
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    margin: 0 5px 0 5px;
}

.hash-separator {
    border: 1px solid #e2a864;
    padding: 0;
    margin: 2px 10px 2px 10px;
}

.developing {
    background: #3e3a61;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
}

.developing-header {
    color: #fe8441 !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    padding: 0;
    margin: 10px 25px 10px 25px !important;
}

.cat {
    width: 500px;
}